<!DOCTYPE html>
<html>

<head>
    <title>Demo</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Demo project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <style>
    footer {
        font-size: 4.2rem;
        color: white;
        background-color: black;
        line-height: 1.5em;
        border-bottom: 2px solid #F427EC;
        height: fit-content;
        margin: 0;
        margin-top: 50px;
        letter-spacing: -0.06em;
        cursor: pointer;

    }
    </style>
</head>

<body>
    <h3>Te has subscripto al newsletter!</h3>
    <footer>
        arthub
    </footer>
</body>

</html>