.mainDivPopUp {
    position: fixed;
    width: 50%;
    height: 50%;
    top: 0;
    left: 220px;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.900);
    display: flex;
    justify-content: center;
    border: 1px solid white; 
    z-index: 9999;
   
}

.formFilter{
    width:70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.formLabel{
   font-size: 1.2rem;
   margin:2px;
}

.selectCategory{
    width:150px;
    padding:2px;
    font-size: 1rem;
    background-color: black;
    color:white;
    
}

.selectCategory:focus{
    outline:none;
}

.option{
    font-size: 1rem;
    
}

.btn{
    background-color: black;
    border:1px solid white;
    color:white;
    font-size: 1rem;
    width:20%;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    margin:2px;

}
.spanCat{    
    display: flex;
    flex-wrap: wrap;    
}
.spanCat div{
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.spanButton{
    
    cursor: pointer;
}

.btn:hover{
    /* background-color: #f427edd5; */
    animation: color 1s infinite;

}
.btnClose{
 position: absolute;
 top:0;
 right:0;
 background-color: transparent;
 cursor:pointer;
 margin-top: 10px;
 margin-right: 10px;
 border:none;
}
.btnClose:focus{
 outline:none;
}
.close{
  width:25px;
  height: 25px;
}
@keyframes color {
    0% {
          background-color: #f427ed78; 

    }
    20% {
        background-color: #f427ed8a; 

    }
    40%{
     
        background-color: #f427eda2; 

    }

    60%{
        background-color: #f427edc4; 

    }

    80%{
        background-color: #f427ede5; 

    }
  
    100% {
        background-color: #f427ed; 

    }
  }

@media screen and (max-width: 480px){
    .mainDivPopUp{
        left: 0px;
        width: 90%;
    }
}