.mainContainer {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.secondContainer {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: 100%;
}

.requestsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.button{
    background-color: transparent;
    border:1px solid white;
    padding: 5px 20px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-family: inherit;
    margin: 0 10px;
}

.button:hover {
    background-color: #F427EC;
}

.requestContainer {
    width:fit-content;
    justify-content: space-between;
    align-items: center;
    border:1px solid white;
    margin:10px;
    font-size: 1rem;
    padding: 1em 1em;
    /* width: 40%; */
    min-width: 40%;
}


.orderContainer{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    align-items: center;
    border:1px solid white;
    margin:10px;
    font-size: 1rem;
    padding: 0 1em;
}

.message {
    width: 100%;
}

.title {
    font-size: 40px;
}