.container *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
}

.prods {
    font-size: 20px;
}

.secondContainer{
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    margin: 40px;
}

.title{
    text-align: center;
    font-size: 50px;
}

.mainContainer {
    display: flex;
}

.imgContainer{
    margin-right: 2%;
}

.infoContainer{
    margin-left: 2%;
}

.artistContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.navBaralign{
    display: flex;
}

.allCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.noProductsMessage {
    display:flex;
    font-size: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.noProductsMessage a {
    color:#F427EC;
}

.noProductsMessage a:hover {
    color: white;
}

@media screen and (max-width: 480px){
    .secondContainer{
        margin-top: 165px;
    }
    .noProductsMessage {
        text-align: center;
    }
}